
#ignore everything
*
__pycache__
#... except:
!README.md
!/pyproject.toml
!LICENSE
!.gitignore
!src/
!src/*
!src/**
!requirements.txt
!tutorials/
!tutorials/**
!example_run/
!example_run/**

# Exclude all __pycache__ directories
**/__pycache__/